*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1114px;
    margin: 0 auto;
    padding-inline: 24px;
}
a{text-decoration: none;}
.site-header{
    padding-block: 22px;
    border: 2px solid red;
}
.site-header-layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 42px;
}
.nav-links{
    display: flex;
    flex: 1;
    gap: 18px;
    justify-content: end;
}
.pricing-section-heading{
    margin-top: 40px;
}
.pricing-boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-block: 68px;
    gap:  42px 0px;
}
.pricing-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid red;
    padding: 12px;
}
.trustedby-section-layout{
    display: flex;
    flex-direction: column;
    text-align: center;
        gap: 44px;
}
.trusted-links{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.trustedby-section-layout button{
    background: transparent;
    border: none;
}

.last-section--layout{
     height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
}
.last-section--layout h2{font-size: 2rem;text-align: center;}
.btn-group{
    display: flex;
    gap: 18px;
}
.btn-group button{
    padding: 12px 26px;
    border: none;
    border-radius: 24px;
}
.site-footer{
    padding-block: 44px;
    border: 2px solid red;
}
.upperfooter-layout{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 22px;
}
.footer-link-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}   
.footer-link-box li {
    margin-bottom: 8px; /* space between vertical links */
}

.footer-link-box a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.lowerfooter{
    margin-left: 60px;
}
.lowerfooter-links{
    display: flex;
    gap: 22px;
}