/* 1. Global Reset (Perfect!) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-navbar{
    padding: 44px 0px;
    background-color: aqua;
}
.container{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}
.navbar-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links{
    display: flex;
    gap: 22px;
}
.navbar-links a{
    font-size: 1.4rem;
    font-weight: 200;
    text-decoration: none;
    color: #333333;
}
.navbar-logo a {
    font-size: 1.4rem;
    color: black;
    font-weight: 600;
}
.hero{
    padding: 56px;
    background-color: #EDFAFC;
}
.hero-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
}
.hero-description{
    display: flex;
    flex-direction: column;
    gap: 22px;
    flex: 1;
}
.hero-description h1 {
    line-height: 1.5;
    font-size: 3rem;
}
.hero-description p {
    font-size: 1.4rem;
}
.hero-image-wrapper{
    flex: 1;
    border: 2px solid red;
}
.hero-btns{
    display: flex;
    gap: 42px;
}
.btn{
    padding: 12px 44px;
    border-radius: 6px;
}
