*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.small-container{
    width: 100%;
    width: 880px;
    padding-inline: 18px;
    margin: 0 auto;
}

.site-header{
    background-color: #F6F5F3;
    padding-block: 22px;
}
.site-container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 18px;
}
.site-header-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.8rem;
    font-weight: 800;
}
.nav-link-group{
    display: flex;
    gap: 0px 22px;
}
.nav-link-group a{text-decoration: none;color: black;font-size: 1.2rem;}
.hero-section{
    background-color: #F6F5F3;
    padding-block: 22px;
}
.hero-section-layout{
    text-align: center;
}
.hero-section-layout h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 14px;
}
.description-hero{
    font-size: 1.6rem;
    margin-bottom: 34px;
}
.input-mail{
    padding: 12px 20px;
    margin-right: 20px;
    border-radius: 8px;
    border: none;
}
.template-button{
     padding: 16px 24px;
     background-color: #16528C;
     border: none;
     border-radius: 12px;
     color: white;
     margin-bottom: 33px;
}
.thinking-tools-section{
    padding-block: 44px;
}

.thinking-tools-section-layout h2{
    padding-block: 22px;
    font-size: 2rem;
    font-weight: 800;
     text-align: center;
}
.tools-link-group{
    display: flex;
    justify-content: center;
    gap: 22px;
}
.tools-link-group a{
    border: 2px solid black;
    padding: 8px 6px;
    text-decoration: none;
    color: black;
}
.tool-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 22px 44px;
    margin: 44px 0px;
}
.tool-box{
    border: 2px solid rebeccapurple ;
    padding:18px 22px;
}
img{
    width: 80px;       /* ਚੌੜਾਈ ਸੈੱਟ ਕਰੋ */
    height: auto;       /* ਫੋਟੋ ਦੀ ਸ਼ਕਲ ਖਰਾਬ ਨਹੀਂ ਹੋਵੇਗੀ */
    border-radius: 8px;
    margin-bottom: 12px;
}

.last-section{
    background-color: #E4EAF1;
    padding-block: 42px;
}
.last-section-layout h2{
    font-size: 1.8rem;
}
.content-group{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    padding: 20px 0px;
}
.content-group p{
    font-size: 1.2rem;
}
.content-group button {
    width: 100%;
    max-width: 200px;
    background-color: #16528C;
    border: none;
    border-radius: 12px;
    color: whitesmoke;
}
.site-footer{
    padding-block: 54px;
}
.upperfooter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-box h2,.right-box h2{
    font-size: 1.4rem;
    margin-bottom: 24px;
}