*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1960px;
    margin: 0 auto;
    border: 2px solid red;
   padding-inline: clamp(1rem, calc(0.50vw + 0.9rem), 1.5rem); /* 16px -> 24px (320px -> 1920px) */
}
.site-header{
    display: flex;
    justify-content: space-between;
}

